@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Manage your account</h1>
<div class="row">
    <div class="col-lg-2">
        <div class="card mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Change your account settings</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <partial name="_ManageNav" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="card mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">@ViewData["Title"]</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 manage-account">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    @*<div>
            <h4>Change your account settings</h4>
            <hr />
            <div class="row">
                <div class="col-md-3">
                    <partial name="_ManageNav" />
                </div>
                <div class="col-md-9">
                    @RenderBody()
                </div>
            </div>
        </div>*@

    @section Scripts {
        @RenderSection("Scripts", required: false)
    }
